:host
    display: block
    width: 95%
    height: 65px
    border-radius: 20px
    overflow: hidden

.app-footer-container
    height: 100%
    width: 100%
    background-color: rgba(250, 250, 250, 0.63)
    overflow: hidden

.app-footer-content
    width: 100%
    height: 100%
    display: flex
    justify-content: space-between
    align-items: center
    padding: 0.5rem 1rem

.app-item
    flex: 0 0 16%
    &:hover
        transform: scale(1.1)

@media (min-width: 450px)
    :host
        height: 70px

    .app-item
        flex: 0 0 13%

@media (min-width: 580px)
    :host
        width: 80%
        height: 78px

@media (min-width: 800px)
    :host
        width: 70%
        height: 78px
    .app-item
        flex: 0 0 10%

@media (min-width: 1000px)
    :host
        width: 65%
        height: 85px
    .app-item
        flex: 0 0 10%

@media (min-width: 1280px)
    :host
        max-height: 95px
        border-radius: 27px
    .app-item
        flex: 0 0 8%
