<div class="app-folder-container" (click)="expandFolder($event)">
    <div class="scrollable" [class.expanded]="expanded">
        <div class="app-folder-content">
            @for (app of appsFolder1; track app;) {
            <app-mini-app class="mini-app" [app]="app"></app-mini-app>
            } @empty {
            <li>And error occured.</li>
            }
        </div>
        <div class="app-folder-content">
            @for (app of appsFolder2; track app;) {
            <app-mini-app class="mini-app" [app]="app"></app-mini-app>
            } @empty {
            <li>And error occured.</li>
            }
        </div>
    </div>
    <div class="folder-name">
        <p>Technologies</p>
    </div>
</div>