.home-page
    padding: 2rem 1.5rem 1rem 2.5rem
    margin: 0 auto
    max-width: 1200px
    overflow: hidden
    display: flex
    flex-direction: column
    justify-content: center
    align-items: center

.footer
    margin: 0 auto

@media (min-width: 768px)
    .first-section,
    .second-section
        display: flex
        align-items: center
        gap: 1rem
        margin-bottom: 2rem

    .combined
        display: flex
        flex-direction: column
        align-items: center
        gap: 1rem

    .inner-section-2
        flex: 1 0 20%

    .inner-section-2
        display: flex
        gap: 1rem
        flex-wrap: wrap
        justify-content: space-between
        align-items: center

@media (min-width: 1110px)
    .first-section,
    .second-section
        max-width: 1000px
        display: flex
        align-items: center
        justify-content: space-between
        gap: 4rem
        margin-bottom: 2rem
