/* You can add global styles to this file, and also import other style files */
*
    margin: 0
    padding: 0
    box-sizing: border-box

html, body
    // background: #EEAECA
    // background: radial-gradient(circle,rgba(238, 174, 202, 1) 0%, rgba(255, 255, 255, 1) 100%)
    // background: #FC5C7D
    // background: -webkit-linear-gradient(to left, #6A82FB, #FC5C7D)
    // background: linear-gradient(to left, #6A82FB, #FC5C7D)

    background: #eacda3
    background: -webkit-linear-gradient(to right, #d6ae7b, #eacda3)
    background: linear-gradient(to right, #d6ae7b, #eacda3)

    // max-height: 100vh
    overflow-x: hidden
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, sans-serif
    font-size: 14px
    color: #333
    line-height: 1.5
    -webkit-font-smoothing: antialiased

img, picture, video, canvas, svg
    display: block
    max-width: 100%

input, button, textarea, select
    font: inherit
    outline: none
    border: none
    background: none


a
    text-decoration: none
    color: inherit

button
    cursor: pointer

.error
    color: red
@media (min-width: 768px)
    html, body
        // overflow-y: hidden

@media (min-width: 1440px)
    html, body
        font-size: 16px
