:host
  display: block
  width: 250px
  height: 282px
  border-radius: 20px
  overflow: hidden

.music-container
  width: 250px
  background-color: rgba(255, 255, 255, 0.69)
  padding: 1rem

.controllers-div
  display: flex
  justify-content: space-between
  align-items: flex-end
  padding-top: 1rem

.controllers
  display: flex
  gap: 20px

.arrow,
.pause
  height: 15px
  &:hover
    transform: scale(1.2)

.song-name
  span
    font-size: 10px
    color: rgb(181, 181, 181)

.song-name
  p
    font-size: 12px

// hover effect
.content
  position: relative

  .image-div
    display: flex
    justify-content: center
    align-items: center

  .record-img
    display: block
    max-width: 200px

  .text
    display: none
    max-height: 280px
    overflow-y: auto
    font-weight: 600
    font-size: 0.9rem
    padding-bottom: 1.2rem

  &:hover
    .record-img
      display: none

    .text
      display: block

@media (min-width: 1420px)
  :host
    width: 450px
    height: 310px
    border-radius: 30px
  .music-container
    width: 450px
    height: 310px
